import React, { Component } from 'react'

import Title from '../../../example/components/Title'
import ComponentWrapper from '../../../example/components/ComponentWrapper'

import { {{ pascal name }} } from './index'
import { {{ pascal name }}Props } from './types'

export class {{ pascal name }}Example extends Component<any, any>  {
    static navigationOptions = {
        drawerLabel: '{{ pascal name }}',
    }

    render() {
        return (
            <ComponentWrapper>
                <Title type="h1">{{ pascal name }} Component</Title>
                <{{ pascal name }} />
            </ComponentWrapper>
        )
    }
}
